<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Questionnaire Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Don't know how to use?</h1>
    <p>No Problem! This video guide has you sorted.</p>

    <div class="video-container">
      <ion-img src="../../assets/images/train.jpg" alt="Video thumbnail"></ion-img>
      <ion-icon name="play-circle-outline" class="play-icon"></ion-icon>
    </div>

    <p class="description">
      The main questionnaire is dynamic and adaptive, designed to tailor itself based on your initial selections. As you answer each question, the subsequent ones may change to better fit your specific needs. You also have the flexibility to move back and forth between questions at any time, allowing you to review and adjust your answers as needed. To ensure your care remains up-to-date, it’s important to attend to the questionnaire daily.
    </p>

    <p class="help-text">
      <strong>Need Help?</strong> If you have any questions or need assistance, feel free to contact us at 
      <a href="mailto:help@example.com">help</a>.
    </p>
  </div>
</ion-content>
