<ion-header>
  <ion-toolbar class="modal_header">
    <ion-buttons>
      <ion-button style="color: white" class="close_btn" (click)="BackBtn()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label class="modal_title" slot="end"> Change Password </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content class="main_login_container">
  <div id="container">
    <ion-card class="login_form">
      <ion-card-content>
        <form
          id="login-form"
          #updatePassword="ngForm"
          (ngSubmit)="onSubmitPassword()"
        >
          <ion-label class="form-label green_text">
            Current Password
          </ion-label>
          <ion-input
            [(ngModel)]="dataset.current_password"
            name="current_password"
            required
            placeholder="Enter Current Password"
            type="password"
            id="user-password"
            class="user-input"
          ></ion-input>

          <ion-label class="form-label green_text"> New Password </ion-label>
          <ion-input
            [(ngModel)]="dataset.password"
            name="password"
            required
            placeholder="Enter New Password"
            type="password"
            id="user-password"
            class="user-input"
          ></ion-input>
          <ion-label class="form-label green_text">
            Confirm Password
          </ion-label>
          <ion-input
            [(ngModel)]="dataset.password2"
            name="password2"
            required
            placeholder="Enter Confirm Password"
            type="password"
            id="user-password"
            class="user-input"
          ></ion-input>

          <!-- Validation message -->
          <div *ngIf="!passwordsMatch && dataset.password2">
            <p style="color: red; margin-bottom: 40px; font-size: 13px">
              Password do not match
            </p>
          </div>

          <ion-button
            expand="block"
            id="set-btn"
            class="login-btn"
            shape="round"
            type="submit"
            [disabled]="!updatePassword.valid"
          >
            <ion-label> Update Password </ion-label>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
