.main_back_btn {
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 11;
}

.close_btn {
    font-size: 20px;
    color: #0f452b;

   
}



  .first_row{
    text-align: center;
  }

  .main_content{
    margin-top: 50px !important;
  }

  ion-item {
    --background: #d0dbd6;
    border-radius: 35px;
    margin: 13px 0px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.next_btn{
  --background: #0f452b;
  margin-right: 15px;
}

.questions_list_dark{
  --background: #0f452b4d !important;
}


.selected {
  color: white;
  --background: #0f452b !important; 
  
}



